Django==6.1
djangorestframework==3.18.0
djangorestframework-simplejwt==5.5.1
django-cors-headers==4.9.0
django-filter==26.1
psycopg2-binary==2.9.12
Pillow==12.1.1
python-dotenv==1.2.2
gunicorn==26.1.0
whitenoise==6.12.0
dj-database-url==3.1.2
google-auth==2.56.3
requests==2.32.3
cloudinary>=1.36.0
django-cloudinary-storage>=0.3.0
razorpay>=1.4.1
